<!DOCTYPE html>
html(lang="en")

	head

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		link(rel="stylesheet", href="/Assets/Scss/style.css")

		title Trivia | Game

	body

		.container

			#title

			.question#question1
			.question#question2
			.question#question3
			.question#question4

		script(src="/Assets/JavaScript/app.js")