<!DOCTYPE html>
html(lang="en")

	head

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		link(rel="stylesheet", href="Assets/Scss/style.css")

		title Trivia | Game

	body

		#leftTitle.sub

			p T
			p R
			p I
			p V
			p I
			p A

		.container#container

			#title

			.question#question1

				#begin TRIVIAL TRIVIA

			.question#question2

			.question#question3

				button#start START

			.question#question4

			#timer

		#rightTitle.sub

			p T
			p R
			p I
			p V
			p I
			p A

		script(src="Assets/JavaScript/app.js")