$red: #ED6A5A;
$blond: #F4F1BB;
$platinum: #E6EBE0;
$light-blue: #9BC1BC;
$medium-blue: #5CA4A9;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: $platinum;
	font-family: 'Helvetica Neue';
}

.sub {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	font-size: 4rem;
	font-weight: 900;
	color: transparent;
	align-items: center;
	background-clip: text;
	flex-direction: column;
	background-color: #666666;
	justify-content: space-evenly;
	-webkit-background-clip: text;
	text-shadow: 1px 1px 1px black;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

.container {
	height: 100%;
	flex-grow: 8;
	display: flex;
	flex-basis: 0;
	font-weight: 400;
	color: $platinum;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: $medium-blue;
	#title {
		width: 100%;
		height: 20%;
		display: flex;
		font-weight: 200;
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
	}
	#timer {
		width: 80%;
		height: 10%;
		display: flex;
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
	}
	.question {
		width: 80%;
		height: 15.25%;
		display: flex;
		font-weight: 400;
		align-items: center;
		letter-spacing: 2px;
		justify-content: center;
		transition: transform .5s, box-shadow .5s, letter-spacing .5s;
		#start {
			width: auto;
			height: auto;
			border: none;
			outline: none;
			font-size: 2rem;
			font-weight: 200;
			border-radius: 3px;
			letter-spacing: 3px;
			padding: 2rem 4rem;
			box-shadow: 0 1px 3px black;
			transition: transform .3s, letter-spacing .3s, box-shadow .3s;
			&:hover {
				cursor: pointer;
				letter-spacing: 4px;
				transform: translateY(-2px);
				box-shadow: 0 3px 5px black;
			}
			&:active {
				box-shadow: inset 0 2px 5px -2px black;
			}
		}
	}
	#question1>#begin {
		font-size: 5rem;
		font-weight: 500;
		letter-spacing: 5px;
	}
	#question4>.dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 1rem 0 1rem;
		border: 1px solid $blond;
		background-color: $light-blue;
	}
}

.ani {
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	&:hover {
		cursor: pointer;
		transform: translateY(-2px);
		box-shadow: 0 1px 2px -1px black;
	}
}

.special {
	font-weight: 700;
	font-size: 1.1rem;
	font-style: italic;
	margin: 0 .5rem 0 .5rem;
}

.correct {
	color: rgb(173, 255, 173);
}

.wrong {
	color: rgb(255, 173, 173);
}